body{
    background-color: white;
    padding: 5px;
    height: 80vh;
}
.heading{
    background-color: rgb(185, 83, 15);
    text-align: center;
   
}
.title{
    font-weight: normal;
    font-size: 42px;
    padding: 20px;
}
.input-container{
    text-align: center;
}
.input-box{
    width: 90%;
}
.btn{
    margin: 20px;
    width: 240px;
    padding: 8px;
    background-color: rgb(185, 83, 15);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    
}
.cont{
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
